.home-container{
    display: flex;
    justify-content: center;
    

}

.loyalty-container{
    width: 20vw;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 5px;
    font-size: 20px;
}

.loyalty-header{
    background-color: rgb(251, 249, 249);
    padding: 30px;
    font-size: 25px;
    border-bottom: 1px solid rgb(153, 151, 151);
}

.para{
    padding: 20px;
}

.button{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 2px;
    color: white;
    background-color: rgb(4, 4, 65);
}